@font-face {
  font-family: "MoonLight";
  src: url("../fonts/MoonLight.otf");
}
/*
@font-face {
  font-family: "MoonBold";
  src: url("../fonts/MoonBold.otf");
}
*/
input[type='text'] {
  font-family: monospace; 
}

nav {
  font-family: "MoonLight";
  font-size: 1.3em;
}

nav a {
  color: #00802b;
}





.navbar-default .navbar-toggle .icon-bar {
  background-color: #00802b;
}

.background-div {
  position: relative;
  overflow: hidden;
}

.background-div .container {
  position: relative;
  z-index: 2;
}

.background-div img {
  position: fixed;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  opacity: 0.2;
}


body {
  font-family: "MoonLight";
}

h2, h3 {
  color: #327311;
}

/* 
h2 {
  padding-top: 2em;
}
*/

a {
  color: #6D6D6D; 
}

p {
  font-size: 1.2em;
}

.navbar-brand {
  background-color: #E7E7E7;
}

.field_with_errors input {
  border: 2px solid red; 
}

#error_explanation {
  border-left: 2px solid red;
  border-top: 2px solid red;
}

#flash_notice {
  border-left: 2px solid green;
  border-top: 2px solid green;
}

a.navbar-brand img{
  height: 50px;
  position: absolute;
  left: 5px;
  top: 0px; 
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



div.container div.video-container div.video-watched iframe{
  border: 10px solid #00802b;
}

div.container div.video-container div.video-not-watched iframe{
  border: 10px solid red;
}

i.fa {
  color: #00802b;
}




.rounded-outline-btn {
  background: none;
  margin-bottom: 10px;
  border: 2px solid #00802b;
  border-radius: 24px;
  font-weight: 800;
  color: #00802b;
}

.rounded-outline-btn:hover {
  background: #00802b;
  color: white;
}


.button_to,
.button_to div {
  display: inline;
}

div.container-cohorts {
  width: 100%;
}

div.container-cohorts div.cohorts{
  float: left;
  width: 300px;
  }

div.container-general {
  width: 100%;
}  

div.container-cohorts div.container.cohorts.cohort-general{
  width: 100%;
  }  

div.container-statistics {
  width: 100%;
}

div.container-statistics div.statistics{
  float: left;
  width: 450px;
  }  

div.sections {
  width: 100%;
}

