/* app layout css */
@font-face {
  font-family: "MoonLight";
  src: url("../fonts/MoonLight.otf");
}
/*
@font-face {
  font-family: "MoonBold";
  src: url("../fonts/MoonBold.otf");
}
*/
input[type='text'] {
  font-family: monospace; 
}

body {
  font-family: "MoonLight";
}

nav {
  font-family: "MoonLight";
  font-size: 1.3em;
}

nav a {
  color: #00802b;
}

h1, h2 {
  color: #00802b;
}
h3 {
  color: black;
/*  color: #327311; */
}

a {
  color: black; 
  /*  color: #6D6D6D; */
}

a:hover {
  color: #00802b;
}

p {
  font-size: 1.2em;
}

ol li {
  color: #00802b;
}

ol li span {
  color: black;
}

/* navbar css */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #00802b;
}

.navbar-brand {
  background-color: #E7E7E7;
}

a.navbar-brand img{
  height: 50px;
  position: absolute;
  left: 5px;
  top: 0px; 
}
/* ---------- END navbar css ---------- */


/* background image css */
.background-div {
  position: relative;
  overflow: hidden;
}

.background-div .container {
  position: relative;
  z-index: 2;
}

.background-div img {
  position: fixed;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  opacity: 0.2;
}
/* ---------- END background image css ---------- */

/* footer css */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -85px;
    padding-bottom: 85px;
}

footer {
    height: 85px;
}

#personal-footer {
  background: #E6E6E6;
  padding-top: 10px;
}

#personal-footer a {
  color: #00802b;
  font-weight: bold;
}
/* ----------  END footer css ---------- */

/* ----------  END app layout css ---------- */

/* form errors and flash notices */
.field_with_errors input {
  border: 2px solid red; 
}
/* wont show red border around text area */
.field_with_errors textarea {
  border: 2px solid red; 
}

#error_explanation {
  border-left: 2px solid red;
  border-top: 2px solid red;
}

#flash_notice {
  border-left: 2px solid green;
  border-top: 2px solid green;
}
/* ---------- END form errors and flash notices ---------- */


/* ---------- video css ---------- */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

div.container div.video-container div.video-watched iframe{
  border: 10px solid #00802b;
}

div.container div.video-container div.video-not-watched iframe{
  border: 10px solid red;
}
/* ---------- END video css ---------- */

/* button and icons css */
i.fa {
  color: #00802b;
}

.rounded-outline-btn {
  background: none;
  margin-bottom: 10px;
  border: 2px solid #00802b;
  border-radius: 24px;
  font-weight: 800;
  color: #00802b;
}

.rounded-outline-btn-small {
  background: #00802b;
  color: white;
  border: 2px solid #00802b;
  border-radius: 100px;
  font-weight: 800;
  padding: 4px;
}

.rounded-outline-btn:hover {
  background: #00802b;
  color: white;
}

.rounded-outline-btn-small:hover {
  background: none;
  color: #00802b;
}

.button_to,
.button_to div {
  display: inline;
}
/* ---------- END button and icon css ---------- */

/* styling for the flatiron videos in the section view */
div.container-cohorts {
  width: 100%;
}

div.container-cohorts div.cohorts{
  float: left;
  width: 300px;
  }

div.container-general {
  width: 100%;
}  

div.container-gneral div.general{
  width: 100%;
  }  
/* ---------- styling for the flatiron videos in the section view ---------- */

/* styling for the general videos in the section view */
ul#double {
  width: 100%;
  margin-bottom:20px;
  overflow:hidden;
  /* border-top:1px solid #ccc; */
}

ul#double li{
  line-height:1.5em;
  /* border-bottom:1px solid #ccc; */
  float:left;
  display:inline;
  width:450px;
}
/* ----------- styling for the general videos in the section view ----------- */

/* study suggestions css */
div.container-statistics {
  width: 100%;
}  

div.sections {
  width: 100%;
}
/* ----------- study suggestions css ----------- */
