<h2>Here are all your study videos</h2>
<br>

<% @videos.each do |video| %>
  <% if video.watched == "yes" %>
    <%= "✓" %>
  <% end %>  
  <p><%= link_to video.name, video_path(video) %></p>

<% end %>

