<h2>Here are all your study videos</h2>
<br>

<% @videos.each do |video| %>
  <p><% if video.watched == "yes" %>
    <%= "✓" %>
  <% end %>  
  <%= link_to video.name, video_path(video) %></p>

<% end %>

<%= link_to "add video", new_video_path %>
