<div class="container container-cohorts">
  <center><h2>Flatiron Videos</h2></center>
    <%= render partial: 'flatiron_cohort', locals: {flatiron_videos: @videos.fourteen.flatiron , year: "2014"} %>

    <%= render partial: 'flatiron_cohort', locals: {flatiron_videos: @videos.fifteen.flatiron , year: "2015"} %>

    <%= render partial: 'flatiron_cohort', locals: {flatiron_videos: @videos.sixteen.flatiron , year: "2016"} %>
</div>
