<h2>Which section would you like to review?</h2>


<% @sections.each do |section| %>

 <p><%= link_to section.name, section_path(section) %></p>

 <% end %>
<br>
 <%= button_to "Add a section", new_section_path, method: :get, :class => "btn rounded-outline-btn" %>
