<h2>Which section would you like to review?</h2>

<div class=" sections">
  <ol>
    <button class="btn rounded-outline-btn">Click to view all Sections</button>
  </ol>
  <br>
</div>

<%= button_to "Add a section", new_section_path, method: :get, :class => "btn rounded-outline-btn" %>
