<h2>Which section would you like to review?</h2>

<div class=" sections">
  <ol>
  <% @sections.each do |section| %>
    <h3><li><%= link_to section.name, section_path(section) %></li></h3>
  <% end %>
  </ol>
  <br>
</div>

<%= button_to "Add a section", new_section_path, method: :get, :class => "btn rounded-outline-btn" %>
