<% if item.errors.any? %>
  <div id="error_explanation" class="errors">
    <p>
      <%= pluralize(item.errors.count, "error") %>
      prohibited this rating from being saved:
    </p>
    <ul>
      <% item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>  
    </ul>
  </div>
<% end %>