<div class="home-container ">
<h1>VideoLib  <small>Keep the magical Avi-Lectures and all your other study videos organized.</small></h1>

<br>
<h2>VIDEOLIB instructions</h2>
<p>
<ul>
<h3>Sign up/ Log in</h3>
<li>You can sign up with an email or via Github. Your original account will have a “general student” status allowing you access only to public videos.</li>
<li>You will need to request flatiron student status via the Flatiron button found by your user info at the top of the page.</li>
<h3>Sections</h3>
<li>Once you sign in you will be taken to a sections/topic page where you can click on a section to view all the videos in that section. Flatiron videos are organized by year, and general/public videos are found below.</li>
<li>Videos title in the section page will display a checkmark once they have been marked watched.</li>
<h3>Videos</h3>
<li>Videos will display a red border if they have not been marked watched and a green border if they have been marked watched.</li>
<li>The star rating above the video indicates the average difficulty of the video as rated by all VideoLib users.</li>
<li>Underneath the video are your personal ratings and notes for the video.</li>
<h3>Stats page</h3>
<li>Found by clicking on the pineapple.</li>
<li>Top 10 most watched videos show a dynamic list of the most watched videos by all users. The list will populate/change as videos are marked watched.</li>
<li>Top 10 hardest rated videos, show the videos with the most 5star difficulty ratings by all users.</li>
<li>Your hardest rated videos show the videos you have rated with a 5 star difficulty rating, so you can go back and study them again.</li>
</ul>
</p>

</div>